

body {
  background-color:  #F2F6EF;

}

.toplogo {
  list-style: none;
  display: flex;
}

.firstbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

}

h1 {
  font-size: 35px;
  margin-left: 90px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 85%;
  line-height: 45px;
}


img {
  max-width:100%;
  top: 2em;
  }

.image{
  flex-basis: 100%;
  padding-right: 55px;
  padding-top: 45px;
}


button {
  background-color: gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-top: 275px;
  margin-left: 90px;


}

.logo {
  width: 20%;
  height: 40%;
  display: flex;
  margin-right: auto;
}

.wave-container {
  background: #white;

}
.wave-container > svg {
  display: block;

}


/* .links {
 display: flex;
padding-right: 30px;
padding-top: 50px;


}
