

body {
  background-color:  #F2F6EF;

}

.toplogo {
  list-style: none;
  display: flex;
}

.firstbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

}

h1 {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 100px;
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 85%;
  line-height: 45px;
  font-weight: lighter;
}

.secondtext{
  text-align: center;
  align-content: center;
}

img {
  width:120%;
  top: 2em;
  }

.image{
  flex-basis: 100%;
  padding-right: 55px;
  padding-top: 45px;
}

.firstbutton{
  color: purple;
  padding: 15px 22px;
  text-align: center;
  margin-top: 315px;
  margin-left: 90px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}


/*SECOND PAGE BUTTONS*/

.btngroup {
  display: inline-block;
  color: purple;
  cursor: pointer;
  padding: 25px 12px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 200px;
  margin-right: 100px;
  position: relative;
  font-weight: bold;
  height:67px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.buttons :hover {
  background: rgba(168, 145, 189, 1)

}

/*LOGO*/

.logo {
  width: 20%;
  height: 40%;
  display: flex;
  margin-right: auto;
}

/*WAVE IMAGE*/
.wave-container {
  background: #white;

}
.wave-container > svg {
  display: block;
  margin:auto;
  position: fixed;

}

/*ALL BUTTONS*/

button {
  padding: 20px;
  background-color: white;
  border: 2px solid purple;
  color: purple;

}




/* .links {
 display: flex;
padding-right: 30px;
padding-top: 50px;


}
